@media screen and (max-width: 768px) {
  .movie-media-item {
    width: 100vw !important;
    height: 50vw !important;
  }
  .media-player {
    padding: 0 !important;
  }
  .movies-options-media-item {
    font-size: 0.6rem;
  }
  .movie-info-detail-items {
    padding-left: 0 !important;
  }
  .similar-movie-item {
    width: 40vw !important;
  }
  .movies-detail-container {
    padding: 20px 10px 0px 10px !important;
  }
}

@media screen and (max-width: 900px) {
  .movie-img-fluid {
    width: 40% !important;
  }
}

.movies-detail-container {
  padding: 20px;
}

.movie-name {
  background-color: #212529;
  padding: 0px 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  width: fit-content;
}

.movie-media {
  display: flex;
  flex-direction: column;
  background-color: #131619;
  color: #fff;
}

.movies-options-media {
  padding: 10px 0;
  background-color: #212529;
  margin: -5px 0 0 0;
  display: flex;
  border-bottom: 1px solid #fff;
}

.movies-options-media-item {
  gap: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #747474;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.media-player {
  background-color: #212529;
  position: relative;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.movie-media-item {
  width: 70vw;
  height: 40vw;
  position: relative;
}

.media-player-poster-path {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.img-fluid-media-player {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}

.media-player-poster-path:hover .img-fluid-media-player {
  scale: 1.2;
  filter: brightness(0.7);
}

.media-player-movie-title {
  z-index: 2000;
  position: absolute;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  background-color: #0000007b;
}

.movie-detail-info {
  margin: 40px 0 0 0 ;
  color: #fff;
}

.movie-img-fluid {
  width: 100%;
}

.movie-info-name {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #212529;
  padding: 10px 20px;
  border-radius: 5px;
  justify-content: center;
  width: fit-content;
  background-color: #212529;
}

.movie-info-detail {
  margin-top: -5px;
  padding: 15px;
}

.movie-info-detail-items {
  padding-left: 20px;
}

.movie-overview {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  opacity: 0.25;
}

.movie-info-badge {
  font-size: 0.9rem;
  display: inline-block;
  padding: 2px 8px;
  text-align: center;
  border-radius: 4px;
  background-color: #555555;
  margin: 4px;
  color: #fff;
}

.movie-info-detail-item {
  font-size: 1rem;
  margin: 10px 0;
  color: rgb(158, 158, 158);
}

.actors-avatars {
  margin-top: 20px;
  /* font-size: 0.8rem; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
}

.actors-avatar-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #3b4348;
  border-radius: 32px;
  padding-right: 10px;
}

.simalar-movie-info-detail {
  padding: 20px;
  background-color: #212529;
  margin-top: -5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.similar-movie-item {
  position: relative;
  height: 100%;
  margin: 0 auto;
  width: 210px;
}

.similar-movie-item:hover .similar-movie-info {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.692);
  display: block !important;
}

.similar-movie-info {
  z-index: 100;
  display: none;
  position: absolute;
  color: #fff;
  height: 100%;
  width: 100%;
}
